body {
  font-size: 125%;
}

article {
  width: 500px;
}

.next {
  margin: 60px 0 100px;
  padding: 20px;
  text-align: center;
  background-color: #273441;
}

.next h2 {
  margin: 0 0 18px;
  font-size: 24px;
}

ol {
  list-style-type: none;
  list-style-position: inside;
  text-align: left;
  margin: 0 auto;
  padding: 0 0 0 90px;
}

.point {
  position: relative;
  padding: 30px;
  background-color: #0066cc;
  margin-bottom: 10px;
  transition: opacity .25s ease-in-out;
}

.point:hover {
  opacity: .9;
  transition: opacity .25s ease-in-out;
}

.point:before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 0;
  width: 4px;
  height: calc(100% + 10px);
  background-color: #0066cc;
}

.point:after {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 0;
  width: 15px;
  height: 4px;
  background-color: #0066cc;
}

.point.end:before {
  height: 100%;
}

.point.speaker:before {
  background-color: #273441;
}

.point.speaker:after {
  background-color: #273441;
}

.speaker {
  background-color: #273441;
}

.sponsors div {
  margin-bottom: 5px;
}

.speaker div a {
  color: #D8127D;
  font-weight: 400;
  transition: color .25s ease-in-out;
}

.speaker div a:hover {
  color: #fff;
  transition: color .25s ease-in-out;
}
